@font-face {
    font-family: PublicSans;
    src: url("/support/web/PublicSans-Regular.otf") format("opentype");
}

a,
a:visited,
a:link {
    color: #1010F0;
    text-decoration: underline;
}

a:hover,
a:active {
    color: #0000A0;
}

body {
    padding: 10px;
}

details {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #E0E0E0;
    padding: 7px;
    background-color: #FAFAFA;
    border-radius: 5px;
}

details summary {
    color: #1010F0;
    text-decoration: underline;
}

details summary:hover,
details summary:active {
    cursor: pointer;
    color: #0000A0;
}

footer {
    padding-top: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #A0A0A0;
    margin-left: 10px;
    margin-right: 10px;
    color: #505050;
    font-size: 11px;
}

h1 {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 10px;
}

header {
    background-color: #F0F0F0;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
}

html {
    height: 100%;
    width: 100%;
    font-family: PublicSans;
    background-color: #FFFFFF;
    color: #333;
}

pre {
    background-color: #333333;
    color: #FFFFFF;
    border: 1px solid #505050;
    border-radius: 5px;
    padding: 5px;
}

section {
    margin-top: 30px;
    border-top: 1px dotted #A0A0A0;
    padding-top: 30px;
}

.skip-link {
    top: -100px;
    left: 0;
    position: absolute;
}

.skip-link:focus {
    top: 10px;
    background: #E0E0E0;
    padding: 3px;
}
