<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Interactive Data Science and Visualization MOOC</title>
        <link href="/support/web/mooc.css" rel="stylesheet" type="text/css" />

        <meta
            property="og:title"
            content="Interactive Data Science and Visualization"
        />
        <meta property="og:type" content="article" />
        <meta
            property="og:description"
            content="Free and open source online course on interactive data science and visualization."
        />
        <meta
            property="og:url"
            content="https://mooc.interactivedatascience.courses"
        />
        <meta
            property="og:image"
            content="https://mooc.interactivedatascience.courses/support/web/card.jpg"
        />

        <meta
            name="twitter:title"
            content="Interactive Data Science and Visualization"
        />
        <meta
            name="twitter:description"
            content="Free and open source online course on interactive data science and visualization."
        />
        <meta
            name="twitter:image"
            content="https://mooc.interactivedatascience.courses/support/web/card.jpg"
        />
        <meta name="twitter:card" content="summary_large_image" />
    </head>
    <body>
        <div class="skip-link">
            <a href="#main">Skip to content</a>
        </div>
        <main id="main">
            <div class="intro">
                <h1 class="extra-pad-header">Interactive Data Science and Visualization</h1>

                <div class="tag content">
                    <p>
                        Open source course on designing and engineering interactive experiences with data. We explore information design through traditional data visualization approaches but extend our understanding through a multi-disciplinary perspective. You will be able to build tools for yourself to find insight, create impactful pieces to share discoveries with others, and craft digital spaces which invite audiences in to co-create meaning with you.
                    </p>
                </div>

                <div class="button-holder">
                    <div>
                        <a href="/lesson0.html" class="button"
                            >Go to First Lesson</a
                        >
                        <span class="secondary-holder">
                            <a href="#lessons" class="button secondary"
                                >Lessons</a
                            >
                            <a href="#materials" class="button secondary">Materials</a>
                            <a href="#about" class="button secondary">About</a>
                            <a href="#faq" class="button secondary">FAQ</a>
                        </span>
                    </div>
                </div>

                <div class="carousel">
                    <span class="item">
                        <img
                            src="/support/web/example1.gif"
                            alt="Example gif showing the global plastics AI policy tool"
                        />
                    </span>
                    <span class="item">
                        <img
                            src="/support/web/example2.gif"
                            alt="Example showing the income gaps tool."
                        />
                    </span>
                    <span class="item">
                        <img
                            src="/support/web/example3.gif"
                            alt="Example showing the crop insurance simulation tool."
                        />
                    </span>
                    <span class="item">
                        <img
                            src="/support/web/example4.gif"
                            alt="Example showing the food deserts tool."
                        />
                    </span>
                    <span class="item">
                        <img
                            src="/support/web/example5.gif"
                            alt="Example showing the fisheries tool."
                        />
                    </span>
                </div>

                <p class="content">
                    This course is
                    <a href="https://opensource.org/license/bsd-3-clause"
                        >open source</a
                    >
                    and
                    <a
                        href="https://creativecommons.org/licenses/by-nc/4.0/deed.en"
                        >creative commons</a
                    >. It is offered continually without a fixed schedule. You
                    can complete it at your own pace and you are welcome to
                    collaborate with others. You are encouraged to share your
                    work! Jump into the <a href="#lessons">lessons</a>. Need more info? Check out the syllabus and other course-wide information in <a href="#materials">materials</a>.
                </p>
            </div>

            <section id="lessons">
                <h2>Lessons</h2>
                <div class="tag">An overview of the class.</div>
                <p>
                    The course is organized into {{ sections|length }} sections:
                </p>
                <ul>
                    {% for section in sections %}
                    <li><a href="#{{ section.name }}">{{ section.name }}</a></li>
                    {% endfor %}
                </ul>
                <p>
                    You may consider going in order as material from one lesson
                    helps set up the concepts introduced in the subsequent
                    lessons. However, you are also encouraged to jump around to
                    meet your own learning objectives.
                </p>

                {% for section in sections %}
                <div id="{{ section.name }}" class="lesson-section">
                    <h3>Section {{ loop.index }}: {{ section.name }}</h3>
                    <div class="tag">
                        {{ section.tagline }}
                    </div>
                    <p>
                        {{ section.detailed }}
                    </p>
                    <ul>
                        {% for lesson in section.lessons %}
                        <li>
                            <a href="/lesson{{ lesson['number'] }}.html"
                                >Lesson {{ lesson['number'] }}: {{
                                lesson['name'] }}</a
                            >
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </section>

            <section id="materials">
                <h2>Materials</h2>
                <div class="tag content">
                    General course resources available throughout the course.
                </div>

                <ul>
                    <li>
                        <a href="/course_wide/syllabus.html">Curriculum / Syllabus</a>
                    </li>
                    <li>
                        <a href="/course_wide/manual.html">Course Manual</a>
                    </li>
                    <li>
                        <a href="/course_wide/rubric.html">Coding Exercise Rubric</a>
                    </li>
                    <li><a href="/labs">Skills Labs</a></li>
                </ul>
            </section>

            <section id="about">
                <h2>About the course</h2>
                <div class="tag content">
                    This course teaches traditional data visualization
                    techniques but also the game, visual, and interaction design
                    concepts needed for modern intelligent systems.
                </div>
                <h3>Course description</h3>
                <p>
                    Data and computation are essential to how we understand the
                    world. This means that a bar chart is more than just a
                    graphic. The way we interact with digital tools, analyses,
                    and simulations all change the insights we learn, the
                    stories we tell, the actions we take, who is included, and
                    what is left out.
                </p>
                <p>
                    All digital tools matter but the design of interfaces which
                    convey information and support dialogue with data and
                    artificial intelligence are particularly powerful. This free
                    Massive Open Online Course emphasizes critical analysis as
                    well as the practical design / technical skills needed to
                    make these word-class information design experiences which
                    bring users into interaction with these powerful forces.
                    Together, we will explore how we may intentionally and
                    ethically build these data-intensive tools that shape
                    humanity's relationship with the digital world.
                </p>
                <p>
                    This hands-on class explores the building of human-centered
                    data intensive tools. This course includes the fundamentals
                    of data visualization. However, it also augments that
                    traditional coursework with modern interaction and game
                    design concepts, considering how to build for a world with
                    increasingly complex data and novel AI / ML systems. By
                    completing this material, learners will be able to build
                    sophisticated data visualizations, engaging decision support
                    tools, and cutting-edge simulation interfaces for
                    intelligent systems.
                </p>
                <p>
                    These course materials are open source and free to anyone.
                </p>
                <h3>Credits</h3>
                <p>
                    This course was designed and taught by
                    <a href="https://gleap.org">A Samuel Pottinger</a>. It was
                    originally taught in Spring 2025 at UC Berkeley as Stat 198.
                    This massive online open course (MOOC) is not affiliated
                    with the University. For more information, visit the
                    <a href="https://interactivedatascience.courses">teaching website</a>.
                    <a href="https://opensource.org/license/bsd-3-clause"
                        >Open source</a
                    >
                    and
                    <a
                        href="https://creativecommons.org/licenses/by-nc/4.0/deed.en"
                        >creative commons</a
                    >.
                </p>
                <p>
                    The course recieved resources from the
                    <a href="https://dse.berkeley.edu"
                        >Schmidt Center for Data Science and Environment</a
                    >
                    and the
                    <a href="https://funginstitute.berkeley.edu"
                        >Fung Institute for Engineering Leadership</a
                    >. We thank these organizations!
                </p>
            </section>
            <section id="faq">
                <h2>FAQ</h2>
                <p>
                    The following are the frequently asked questions for the
                    online version of this course.
                </p>

                <details>
                    <summary>What does this course cost?</summary>
                    <p>
                        The online version of this course is free to the public
                        and provided continually. No tution needed! However, if
                        you are part of the University of California community,
                        this class may be avalable for credit in the in-person
                        version.
                    </p>
                </details>
                <details>
                    <summary>Who is the course for?</summary>
                    <p>
                        Though originally built with scientists and engineers in
                        mind, this course is also applicable to designers,
                        artists, and journalists with some experience or
                        interest in programming. This class aims to be valuable
                        to anyone who wants to blend code and design to explore
                        new methods for interactively and visually
                        understanding, experiencing, and communicating data,
                        science, and systems.
                    </p>
                </details>
                <details>
                    <summary>What will we do together?</summary>
                    <ul>
                        <li>
                            Explore foundational theory and fundamentals related
                            to data visualization before studying cutting edge
                            work in interactivity for data and science.
                        </li>
                        <li>
                            Learn practical career-building technologies for
                            building both static and interactive data
                            experiences through hands-on portfolio-building
                            activities.
                        </li>
                        <li>
                            Critically examine existing powerful and informative
                            interactive experiences including data
                            visualizations and other interactive media like
                            video games.
                        </li>
                    </ul>
                </details>
                <details>
                    <summary>What will you be able to do after?</summary>
                    <ul>
                        <li>
                            Build data visualizations and other interactive
                            experiences to share your data findings with others.
                        </li>
                        <li>
                            Invite your audience in as co-creators to build new
                            meaning alongside you in your work.
                        </li>
                        <li>
                            Craft digital tools which help both you and your
                            users navigate data-heavy tasks and uncover
                            insights.
                        </li>
                        <li>
                            Tell impactful stories that engage your readers
                            emotionally through data.
                        </li>
                        <li>
                            Incorporate ethics and accessibility into your work.
                        </li>
                        <li>
                            Critically interrogate data visualizations as a
                            reader.
                        </li>
                        <li>
                            Design interactive interfaces for intelligent
                            systems.
                        </li>
                    </ul>
                </details>
                <details>
                    <summary>Are there prerequisites?</summary>
                    <p>
                        There are no explicit skills that you need to have piror
                        to starting this course. That said, except for optional
                        lectures at the very end, instruction is in Python.
                    </p>
                    <p>
                        This course will be accessible to those with at least
                        introductory programming experience in almost any
                        language including C/C++, Python, Java, JavaScript, etc.
                        That in mind, the following libraries could work within
                        this class though prior familiarity with these libraries
                        is absolutely not required:
                    </p>
                    <ul>
                        <li>
                            Instruction is provided in Python and materials
                            teach participants how to use
                            <a href="https://sketchingpy.org">Sketchingpy</a>.
                        </li>
                        <li>
                            If you have familiarity with Java,
                            <a href="https://processing.org">Processing</a> will
                            work just fine.
                        </li>
                        <li>
                            Similarly, <a href="https://d3js.org">D3</a> or
                            <a href="https://p5js.org">P5</a> will work great as
                            well for those who know JavaScript.
                        </li>
                    </ul>
                    <p>
                        Though there are materials available to help if this is
                        your first time programming, students will be most
                        successful if they have already had some prior
                        programming experience.
                    </p>
                </details>
                <details>
                    <summary>
                        Is there a schedule, credit, or certificate?
                    </summary>
                    <p>
                        You are welcome to go through this material at your own
                        pace. You are also encouraged to share your work with
                        others online! However, there is no official credit or
                        certificate given for completion.
                    </p>
                </details>
                <details>
                    <summary>
                        Do I need to purchase any special software or computers?
                    </summary>
                    <p>
                        This is continually available. No special software
                        needed. You can do it all from your browser (if you
                        prefer). Get started today and go at your own pace.
                    </p>
                </details>
                <details>
                    <summary>
                        Does this differ from the in-person version at UC
                        Berkeley?
                    </summary>
                    <p>
                        I have posted my rehearsal recordings, not recordings of
                        the actual lectures. In some cases, the actual lecture
                        was modified after rehearsal. These changes may or may
                        documented in some lessons as needed for successful MOOC
                        learning.
                    </p>
                    <p>
                        Additionally, some exercises have been modified to be
                        successful where you do not necessarily have classmates
                        available for live conversations. This means that you
                        can complete the course at your own pace. You may also
                        choose to do this corse with others or on your own.
                    </p>
                    <p>
                        Finally, the MOOC does not offer credit or certification
                        for completion.
                    </p>
                </details>
            </section>
        </main>
        <footer>
            Copyright A Samuel Pottinger, 2025. Materials on this page are
            available under
            <a href="https://creativecommons.org/licenses/by-nc/4.0/deed.en"
                >CC-BY-NC 4.0</a
            >. Thank you to
            <a href="https://public-sans.digital.gov">PublicSans</a> under the
            Open Font License. A small text file called a cookie is used to save
            video viewing preferences as part of essential website opertaion.
            For this website itself, analytics limited to standard server
            logging which may collect IP addresses. These logs are deleted or
            anonymized within 30 days. Hosting provided by Dreamhost (see
            <a
                href="https://www.dreamhost.com/legal/customer-data-processing-addendum/"
                >Dreamhost DPA</a
            >). If enabled with your permission, embeds from
            <a href="https://vimeo.com">Vimeo</a> will be used as dictated by
            the <a href="https://vimeo.com/privacy">Vimeo Privacy Policy</a>.
            Though originally taught at UC Berkeley, this MOOC is not affiliated
            with the University.
        </footer>
    </body>
</html>
